body{
	background: linear-gradient(to top, #0000FF, #6495ED) no-repeat;
	background-attachment:fixed;
	background-size:100%;
}
h1 {
	font-size: 2em;
	margin: 0.67em;
	font-weight: bold;
}
p {
	margin-top: 1em;
}
h2 {
	font-size: 1.5em;
	margin: 0.83em;
	font-weight: bold;
	margin:20px 0px;
}
h3{
	margin: 0.47em;
	font-weight: bold;
	font-size: 1em;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.block{
	display: block;
}
.container{
	margin:0 auto;
	margin-top:1.5%;
	width:80%;
	height:100%;
	background:#fff;
	box-shadow: 0 0 4px 0;
}
.header{
	padding-top:5%;
	text-align:center;
}
.header h1{
	margin-bottom:0px;
}
.content{
	margin-left:50px;
	margin-right:50px;
}
.img1{
	float:left;
	width:150px;
	height:150px;
	margin:0 20px 7px 5px;
}
.img2{
	width:250px;
	height:200px;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.underline{
	text-decoration: underline;
}
ul{
	margin-top: 30px;
	list-style-type:disc;
}
li{
	line-height: 1.2em;
}
ol{
	margin-top: 10px;
	margin-bottom: 30px;
	list-style-type: decimal;
}