ul li{
	list-style-type: none;
}
a {
	text-decoration: none;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
}
.btn {
	background: #8d81ac;
	border-radius: 19px;
	color: #fff;
	padding: 10px 36px;
	font-size: 1.6rem;
	line-height: 15px;
	font-weight: 700;
}
.btn:hover {
	background: #6B4FB3;
	transition: .5s;

}
.container {
	margin-top: 33px;
	margin-bottom: 33px;
}
h1 {
	font-size: 6rem;
	font-weight: 700;
	color: #fff;
	font-family: 'Montserrat', sans-serif;

}
h2 {
	font-weight: 400;
	color: #fff;
}
p {
	color: #848e97;
}
.social-links {
	padding: 16px 84px;
	font-size: 2.1rem;
	line-height: 3.2rem;
	color: #fff;
	border-radius: 4px;

}

/*----------------------- main -----------*/


#main {
	background: url(../images/main.jpg) no-repeat;
	background-size:cover;
	background-position: 100% 50%; 
	position: relative;

}
#main .container {
	text-align: center;
	padding-top:106px;
	padding-bottom: 530px;
}
#main h1 {
	font-size: 8.7rem;
	margin-bottom: 50px;
}
#main h2 {
	color: #8d81ac;
	line-height: 2rem;
	font-size: 3rem;
	font-family: 'Lato', sans-serif;
	margin-bottom: 20px;
}
#main .container span {
	font-weight: 400;
	font-size: 1.6rem;
	color: #848e97;
	text-transform: uppercase;
}
#main .link {
	text-align: center;
	bottom: 22px;
	width: 100%;
	left:0;
	bottom:-40px;
	position: absolute;
}
.link .btn {
	font-size: 2.1rem;
	padding: 22px 68px;
	border-radius: 33px;
	display: inline-block;
}
.link span {
	margin-top: 10px;
	display: block;
	color: #848e97;
	font-weight: 400;
	line-height: 1.5rem;
}


/*--------counter-------------*/

#counter .container {
	margin-top: 126px;
	margin-bottom: 70px;
	text-align: center;
}
#counter h1 {
	font-size: 5.6rem;
	color: #635c73;
	text-transform: uppercase;
}
#counter p {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
	color: #323232;	
}

/*---------about---------*/
#about {
	background: #f4f4f4;
	position: relative;
}
#about .container {
	padding-top: 84px;
	padding-bottom: 74px;
}
#about h1 {
	font-size: 4rem;
	color: #8d81ac;
}
.about-image {
	width:120px; 
	float: left;
	text-align: center;
}
.about-text {
	overflow: hidden;
}
.about-text h3 {
	font-size: 1.6rem;
	color: #323232;
	font-weight: 400;
	line-height: 2.1rem;
	margin-bottom: 10px;
}

#about .row {
	margin-bottom: 40px;
}
#about .image-get {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}


/*------------ reviews --------*/


#reviews .container {
	margin-top: 76px;
	margin-bottom: 76px;
	text-align: center;
}
#reviews  .avatar {
	width: 50%;
	float: left;
	text-align: right;
	margin-right: 20px;

}
#reviews .row {
	text-align: center;

}
#reviews .author {
	text-align: left;
	overflow: hidden;
}
.author h3 {
	color: #635c73;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 3.2rem;
}
.tw-head {
	margin:0 auto;
	width: 55%;

}
.tw-head p {
	margin:80px 0 20px 0;
	color: #333;
	

}
.tw-head a{
	color: #8d81ac;
	font-size: 1.6rem;
}
.tw-head span {
	color: #8d81ac;	
	display: block;
	margin-bottom: 60px;
}
.social {
	margin:60px 0;
}
.social ul li {
	display: inline-block;
	position: relative;
	margin-right: 44px;
}
.social ul li span{
	position: absolute;
	left:24px;
	top: 3px;
	font-size: 2.8rem;
}

.github {
	color: #000;
	background: #f3f3f3;
}
.github:hover {
	background: #DEDEDE;
}
.twitter {
	background-color: #26a6d1;
}
.twitter:hover {
	background-color: #2A92B6;
}
.facebook {
	background-color: #3b5998;
}.facebook:hover {
	background-color: #425680;
}


/*------------------fork--------*/


#fork {
	background: url(../images/bgfork.jpg) no-repeat;
	background-size: cover;
	background-position: 100% 50%;
	text-align: center;
}
#fork .container {
	margin-bottom: 0;
	/*margin-top: 0;*/
	padding: 60px 0;
	border-bottom: 1px solid #c7c7c7;

}
#fork h1 {
	font-size: 4.8rem;
}
#fork img {
	margin: 40px 0;
}
#fork p {
	color: #fff;
	font-style:italic;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}


/*=-------------pricing----------*/


#pricing {
	background: url(../images/price-bg.png) no-repeat;
	background-size: cover;
	background-position: 100% 50%;
}
#pricing .container {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 40px 0;
}
#pricing h1 {
	font-size: 4.8rem;
}

#pricing .price:hover {
	transform: scale(1.1);
	transition: all .4s;

}
.price h2 {
	background: rgba(255,255,255,0.06);
	font-size: 2.4rem;
	padding: 45px 33px 33px 33px;
	text-transform: uppercase;


}