body {
  font-family: "Lato", sans-serif; }

p {
  font-size: 2.2rem;
  color: #fff; }

h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #333; }

h2 {
  font-size: 2.2rem;
  color: #999;
  font-style: italic;
  line-height: 3rem; }

.orange {
  font-weight: 700;
  color: #fc3; }

.section-title {
  position: relative;
  margin-bottom: 20rem; }
  .section-title .title-column {
    padding-bottom: 4rem;
    border-bottom: 1px solid #ccc; }
    .section-title .title-column:after {
      position: absolute;
      display: inline-block;
      content: '';
      left: 45.6%;
      bottom: -3rem;
      border-bottom: 1px solid #fff;
      height: 60px;
      width: 60px;
      background-image: url("../images/mini-logo.png"); }

.social-links li {
  display: inline-block;
  position: relative; }
  .social-links li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 40px; }
  .social-links li a {
    color: #fff;
    background-color: #ffca26;
    font-size: 4.1rem;
    width: 6.7rem;
    height: 6.7rem;
    padding-top: 1.4rem; }
    .social-links li a:hover, .social-links li a:focus {
      text-decoration: none;
      transition: .8s all;
      background: #fff;
      color: #ffca26;
      -webkit-box-shadow: 1px 2px 30px 0px rgba(57, 50, 50, 0.85);
      -moz-box-shadow: 1px 2px 30px 0px rgba(57, 50, 50, 0.85);
      box-shadow: 1px 2px 30px 0px rgba(57, 50, 50, 0.85); }

header .container {
  padding: 3.6rem 1rem; }

nav {
  margin: 10px 0; }
  nav ul li {
    display: inline-block;
    text-transform: uppercase; }
    nav ul li a {
      color: #333;
      font-size: 1.4rem;
      font-weight: 700;
      margin: 0 1rem; }
      nav ul li a:hover, nav ul li a:focus {
        text-decoration: none;
        color: #333;
        padding-bottom: 1.2rem;
        border-bottom: 0.5rem solid #ffca26; }

#welcome {
  background: url(../images/welcome.jpg) no-repeat;
  background-size: cover;
  background-position: 80% 70%; }
  #welcome .container {
    padding: 22rem 0 22.8rem; }
    #welcome .container h1 {
      color: #fc3;
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 900; }
    #welcome .container p {
      margin-bottom: 13.2rem; }
    #welcome .container a {
      font-size: 2.2rem;
      text-transform: uppercase;
      color: #fff; }
      #welcome .container a:hover, #welcome .container a:focus {
        text-decoration: none;
        border-bottom: 0.5rem solid #ffca26;
        padding-bottom: 3rem; }

#ethanol {
  background-color: #ffca26; }
  #ethanol .container {
    padding: 12rem 0; }
    #ethanol .container p {
      margin-top: 4.8rem; }

#doing .container {
  padding: 14.2rem 0; }
#doing .list-col .col {
  margin-bottom: 4rem; }
  #doing .list-col .col:hover, #doing .list-col .col:focus {
    -webkit-box-shadow: 2px 4px 8px 0px rgba(57, 50, 50, 0.51);
    -moz-box-shadow: 2px 4px 8px 0px rgba(57, 50, 50, 0.51);
    box-shadow: 2px 4px 8px 0px rgba(57, 50, 50, 0.51);
    transition: .4s all; }
  #doing .list-col .col .col-img-r {
    display: block;
    float: right;
    padding-left: 1.4rem; }
  #doing .list-col .col .col-img-l {
    display: block;
    float: left;
    padding-right: 1.4rem; }
  #doing .list-col .col h3 {
    color: #999;
    font-size: 2rem;
    font-weight: 700; }
  #doing .list-col .col p {
    color: #999;
    font-size: 1.6rem; }
    #doing .list-col .col p:after {
      box-sizing: inherit; }

#prof .prof {
  width: 100%;
  background-color: #f3f3f3; }
  #prof .prof .prof-img {
    position: relative; }
    #prof .prof .prof-img img {
      max-width: 100%;
      margin-bottom: 4rem; }
    #prof .prof .prof-img p {
      font-size: 2.9rem;
      color: #333;
      line-height: 3.6rem;
      width: 60%;
      margin: 0 auto; }
      #prof .prof .prof-img p span {
        font-size: 3.7rem;
        font-weight: 700; }

/*# sourceMappingURL=style.css.map */
