// ============== GENERAL ===============

$main-font: 'Lato', sans-serif;


@mixin box-shadow($radius,$color1,$color2,$color3,$opacity){
	-webkit-box-shadow: $radius rgba($color1,$color2,$color3,$opacity);
	-moz-box-shadow:    $radius rgba($color1,$color2,$color3,$opacity);
	box-shadow:         $radius rgba($color1,$color2,$color3,$opacity);
}

body {
	font-family: $main-font;
}
p {
	font-size: 2.2rem;
	color: #fff;
}

h1 {
	font-size: 3rem;
	line-height: 3rem;
	text-transform: uppercase;
	font-weight: 300;
	color: #333;
}
h2 {
	font-size: 2.2rem;
	color: #999;
	font-style: italic;
	line-height: 3rem;
}
.orange {
	font-weight: 700;
	color: #fc3;
}

.section-title {
	position: relative;
	margin-bottom: 20rem;

	
	.title-column{
		padding-bottom: 4rem;
		border-bottom: 1px solid #ccc;

		&:after {
			position: absolute;
			display: inline-block;
			content: '';
			left: 45.6%;
			bottom:-3rem;
			border-bottom: 1px solid #fff;
			height: 60px;
			width: 60px;
			background-image: url("../images/mini-logo.png");
		}
	}
}
.social-links {
	li{
		display: inline-block;
		position: relative;

		&:after {
			content:"";
			position: absolute;
			left: 0;
			top: 0;
			margin-bottom: 40px;
		}

		a{
			color: #fff;
			background-color: #ffca26;
			font-size: 4.1rem;
			width: 6.7rem;
			height: 6.7rem;
			padding-top: 1.4rem;


			&:hover,&:focus {
				text-decoration: none;
				transition: .8s all;
				background: #fff;
				color: #ffca26;
				@include box-shadow(1px 2px 30px 0px,57, 50, 50, 0.85);
			}
		}
	}
}

// ========== HEADER NAV ==============

header {
	.container {
		padding: 3.6rem 1rem;
	}
}
nav {
	margin: 10px 0;
	ul {
		li {
			display:inline-block;
			text-transform: uppercase;

			a {
				color: #333;
				font-size: 1.4rem;
				font-weight: 700;
				margin: 0 1rem;

				&:hover, &:focus  {
					text-decoration: none;
					color: #333;
					padding-bottom: 1.2rem;
					border-bottom:0.5rem solid #ffca26;
				}
			}

		}
	}
}

//  ==========  LOGO Welc =============


#welcome {
	background: url(../images/welcome.jpg) no-repeat;
	background-size:cover;
	background-position: 80% 70%;
	.container {
		padding: 22rem 0 22.8rem;

		h1 {
			color: #fc3;
			text-transform: uppercase;
			font-size: 4rem;
			font-weight: 900;
		}
		p {
			margin-bottom: 13.2rem;
		}
		a {
			font-size: 2.2rem;
			text-transform: uppercase;
			color: #fff;

			&:hover, &:focus {
				text-decoration: none;
				border-bottom:0.5rem solid #ffca26;
				padding-bottom: 3rem;
			}
		}
	}
}

// =========== ETHANOL ===============


#ethanol {
	background-color: #ffca26;

	.container {
		padding: 12rem 0;

		p {
			margin-top: 4.8rem;
		}
	}
}

// =========== DOING ===============

#doing {
	.container {
		padding: 14.2rem 0;
	}

	.list-col {

		.col {

			margin-bottom: 4rem;

			&:hover, &:focus {
				@include box-shadow(2px 4px 8px 0px,57, 50, 50, 0.51);
				transition: .4s all;
			}

			.col-img-r {
				display: block;
				float: right;
				padding-left: 1.4rem;
			}
			.col-img-l {
				display: block;
				float: left;
				padding-right: 1.4rem;
			}
			h3 {
				color: #999;
				font-size: 2rem;
				font-weight: 700;
			}
			p {
				color: #999;
				font-size: 1.6rem;

				&:after {
					box-sizing: inherit;
				}
			}
		}
	}
	
}	

//  ============ PROF ============

#prof {
	.prof {
		width: 100%;
		background-color: #f3f3f3;
		.prof-img{
			position: relative;

			img {
				max-width: 100%;
				margin-bottom: 4rem;
			}
			p {
				font-size: 2.9rem;
				color: #333;
				line-height: 3.6rem;
				width: 60%;
				margin: 0 auto;

				span {
					font-size: 3.7rem;
					font-weight: 700;
				}
			}
		}
	}

}