// ============== GENERAL ===============

$main-font: 'Lato', sans-serif;

body {
	font-family: $main-font;
}


// ========== HEADER NAV ==============

header {
	.container {
		padding: 3.6rem 1rem;
	}
}
nav {
	margin: 10px 0;
	ul {
		li {
			display:inline-block;
			text-transform: uppercase;

			a {
				color: #333;
				font-size: 1.4rem;
				font-weight: 700;
				margin: 0 1rem;

				&:hover, &:focus  {
					text-decoration: none;
					color: #333;
					padding-bottom: 1.2rem;
					border-bottom:0.5rem solid #ffca26
				}
			}

		}
	}
}

//  ==========  LOGO Welc =============


#welcome {
	background: url(../images/welcome.jpg) no-repeat;
	background-size:cover;
	background-position: 80% 70%;
	.container {
		padding: 22rem 0 38rem;

		h1 {
			color: #fc3;
			text-transform: uppercase;
			font-size: 4rem;
			font-weight: 900;
		}
	}
}
