@media screen and (min-width: 320px) and (max-width: 486px) {
	.section-logo {
		width: 90%;
	}
	#portfolio .projects ul li {
		width: 80%;
		margin: 0 15px;
		float: none;
	}
	#services article {
		width: 80%;
		margin: 15px auto;
		float: none;
	}
}
@media screen and (min-width: 487px) and (max-width: 767px) {
	#portfolio .projects ul li {
		width: 47.4%;
	}
	#services article {
		width: 46.6%;
		margin:0 10px 15px 0;
	}
}
@media screen and (min-width: 768px) and (max-width:965px) {
	.about .about-text {
		padding: 15px 0;
	}
}
@media screen and (max-width: 768px) {
	header nav ul{
		display: none;
		float: none;
	}
	header nav  {
		float: left;
		width: 100%;
		margin-top: 20px;
		background: rgba(44, 62, 80,0.3);
		
	}
	header nav ul li {
		display: block;
	}
	#header nav .toggle-nav span {
		display: inline-block;
	}
}
@media screen and (max-width: 964px) {
	.about {
		padding: 10px 10px;
	}
	.about .about-img {
		float: none;
	}
	.about .about-text {
		text-align: center;
		padding: 10px 0;
	}
	.contact-info {
		float: none;
		width: 100%;
	}
	.contact-form {
		width: 100%;
		margin-top: 15px;
	}
}
@media screen and (max-width: 1174px) {
	.wrapper {
		width: 100%;
	}

}
