@font-face {
	font-family:'VersaSansCon'; 
	src: url('../fonts/VersaSansCon-Light.ttf');
}
body {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: 400;
}
.right {
	float: right;
}
.wrapper {
	width: 1000px;
	background: #f4f4f4;
	margin: 0 auto;
}
/*---------------------- header ------------------*/
.header {
	width: 100%;
	height: 50px;
	background: #fff;
	padding: 0 20px;
}
.logo {
	font-family:VersaSansCon;
	font-weight: bold;
	padding-top: 28px;
	font-size: 18px;
	color: #000;
}
.header a {
	text-decoration: none;
}


/*------------------ sidebar ----------------------*/
.main {
	padding: 0 20px;
	padding-top: 25px;
	overflow: hidden;
	width: 100%;
}
.left-sidebar {
	width: 120px;
	float: left;
	overflow: hidden;
}
.description span {
	font-family: Tahoma;
	display: block;
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	padding-bottom:15px; 
}
.description img {
	width: 120px;
	height: 63px;
	padding-bottom: 20px;
}
.sidebar-title {
	font-size: 11px;
	font-weight: 700;
	line-height: 23px;
}
ul.nav {
	height: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
}
ul.nav li {
	background-color: #e8e8e8;
	width: 100%;
	height: 17px;
	padding-top: 3px;
	margin-bottom: 2px;
}
ul.nav li a{
	display: block;
	color: #000;
	text-decoration: none;
	font-weight: 100;
}
ul.nav li:hover {
	background-color: #C5C5C5;
}
ul.nav span {
	font-size: 10px;
	font-weight: 400;
	color: #838383;
	padding-top: 3px;
}
input[type="search"] {
	margin: 5px 0;
	width: 118px;
	border: 1px solid #e8e8e8;	
	height: 22px;

}

/*------------------- content ----------------*/
.content {
	width: 500px;
	float: left;
	margin: 3px 20px;

}
.content h2.title {
	font-family: VersaSansCon;
	color: #191919;
	margin-top: 10px;
	font-size: 24px;
	font-weight: bold;
}
.futured-post {
	margin-bottom: 60px;

} 
.futured-post img { 
	width: 500px;
	height: 250px;
	margin-top: 15px;
}
.post {
	margin-top: 30px;
	color:  #555555;
	font-size: 12px;
	line-height: 18px;

}
.post-footer {
	margin-top: 20px;
}
.block {
	display: block;
	line-height: 24px;
	color:  #191919;
	line-height: 18px;
}
.keyword {
	color:  #888888;
	line-height: 18px;
}
.keyword:hover {
	text-decoration: underline;
}
/*------------------- footer ----------------*/
.footer {
	width: 100%;
	height: 65px;
	background-color: #fff;
	padding-top: 20px;
	float: left;
}