@font-face {
	font-family:'VersaSansCon'; 
	src: url('../fonts/VersaSansCon-Light.ttf');
}
body {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: 400;
}
.header, .main, .footer {
	margin: 0 auto;
	width: 1000px;
}
.content-section {
	background: #f4f4f4;
}
/*---------------------- header ------------------*/
.header {
	padding: 25px 0 10px;
}
.logo {
	font-family:VersaSansCon;
	font-weight: bold;
	font-size: 18px;
	color: #000;
}
.header a {
	text-decoration: none;
}


/*------------------ sidebar ----------------------*/
.main {
	overflow: hidden;
}
.left-sidebar {
	width: 120px;
	float: left;
	overflow: hidden;
}
.description p {
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	padding-bottom:15px; 
}
.description img {
	width: 120px;
	padding-bottom: 20px;
	height: auto;
}
.sidebar-title {
	font-weight: 700;
	line-height: 23px;
}
ul.nav {
	margin: 5px 0 15px;
}
ul.nav li {	

	background-color: #e8e8e8;
	line-height: 20px;
	margin-bottom: 2px;
}
ul.nav li a{
	color: #000;
	text-decoration: none;
	font-weight: 100;
}
ul.nav li:hover {
	background-color: #C5C5C5;
}
ul.nav span {
	float: right;
	font-size: 10px;
	font-weight: 400;
	color: #838383;
	padding-top: 1px;
}
input[type="search"] {
	margin: 5px 0;
	width: 118px;
	border: 1px solid #e8e8e8;	
	line-height: 22px;
}

/*------------------- content ----------------*/

.content {
	width: 500px;
	float: left;
	margin: 3px 20px;

}
.futured-post ul {
	
}
.futured-post li {
	display: inline-block;
}
.content h1.title {
	overflow: hidden;
	font-family: VersaSansCon;
	color: #191919;
	margin-top: 10px;
	font-size: 24px;
	font-weight: bold;
}
.futured-post {
	margin-bottom: 60px;

} 

.futured-post img { 
	width: 500px;
	height: auto;
	margin-top: 15px;
}
.fut-post {
	margin-top: 30px;
	color:  #555555;
	font-size: 12px;
	line-height: 18px;

}
.post-footer {
	margin-top: 20px;
}
.block {
	display: block;
	line-height: 24px;
	color:  #191919;
	line-height: 18px;
}
.keyword {
	color:  #888888;
	line-height: 18px;
}
.keyword:hover {
	text-decoration: underline;
}
.post {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #d6d6d6;
}
.text-side {
	float: left;
	overflow: hidden;
	width: 245px;
	padding-bottom: 10px;
}
.text-side span {
	line-height: 18px;
}
.text-side h2 {
	font-family: VersaSansCon;
	color:  #191919;
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}
.text-side p {
	color:  #555555;
	line-height: 18px;
}
.img-side {
	overflow: hidden;
	float: right;	
}
.img-side img {

}
.posts li {
	margin-bottom: 60px;
}
/*------------------ pagination ---------------*/
.pagination-flickr li {
	float:left;
	margin-right: 5px;
}
.pagination-flickr li span {
	margin-right:2px;
	padding:3px 6px;
	float:left;
	text-decoration:none;

}
.pagination-flickr li a {
	margin-right:2px;
	padding:3px 6px;
	color:#000;
	float:left;
	text-decoration:none;
	background-color: #fff;
}
.pagination-flickr .active {
	padding:3px 6px;
	color:#fff;
	background-color: #555555;
}
.pagination-flickr .skip {
	background: #f4f4f4;
}
.pagination-flickr a:hover {
	color:#fff;
	background-color: #555555;
}
/*---------------- right-sidebar -----------------*/
.right-sidebar {
	float: left;
	width: 270px;
}
.social ul li {
	float: left;
	width: 80px;
	padding-left: 40px;
	padding-right: 15px;
}
.social img {
	float: left;
	-webkit-filter: grayscale(1); 
	filter: gray;   
	filter: grayscale(1); 
}
.social img:hover {
	-webkit-filter: grayscale(0); 
	filter: none;   
	filter: grayscale(0); 
}
.social {
	margin-bottom: 62px;
}
.social h3 {
	font-weight: bold;
}
.social span .foll {
	display: block;
}
.rside-text {
	margin-top: 20px;

}
.rside-left {
	float: left;
	width: 50%;
	margin-right: 20px;
}

.rside-text h3 {
	color:  #191919;
	font-size: 11px;
	font-weight: 700;
	line-height: 16px;
}
.rside-text p {
	color:  #555555;
	line-height: 16px;
}
/*------------------- footer ----------------*/
.footer {
	padding: 20px 0 15px;
}